# Sensitive variables
db_password = "securepassword123"

# Optional configuration
enable_rds      = true
aws_profile     = "my-aws-profile"
public_key_file = "sample_id_rsa.pub"
user_data_file  = "cloud-init-user-data.yaml"
ingress_rules = {
  "SSH" = {
    port = 22
  }
  "HTTP" = {
    port = 80
  }
  "HTTPS" = {
    port = 443
  }
  "OpenVPN" = {
    port     = 1194
    protocol = "udp"
  }
}

# Multi-instance configuration
instance_config = {
  "fedora-42-x86" = {
    ami_base_string = "Fedora-Cloud-Base-AmazonEC2.x86_64-42-*"
    ami_owner       = "125523088429"
    architecture    = "x86_64"
    instance_type   = "t3a.small"
  }
  "fedora-43-x86" = {
    ami_base_string = "Fedora-Cloud-Base-AmazonEC2.x86_64-43-*"
    ami_owner       = "125523088429"
    architecture    = "x86_64"
    instance_type   = "t3a.small"
  }
  "fedora-42-arm" = {
    ami_base_string = "Fedora-Cloud-Base-AmazonEC2.aarch64-42-*"
    ami_owner       = "125523088429"
    architecture    = "arm64"
    instance_type   = "t4g.small"
  }
  "fedora-43-arm" = {
    ami_base_string = "Fedora-Cloud-Base-AmazonEC2.aarch64-43-*"
    ami_owner       = "125523088429"
    architecture    = "arm64"
    instance_type   = "t4g.small"
  }
}
